.page-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.profile-image{
    width: 300px;
    height: 300px;
    margin: 1.5rem 1rem 0 0;
    padding: 1rem;
    border: 2px solid var(--border-color);
}

.profile-image img{
    width: 100%;
    height: 100%;
}

.profile-description{
    max-width: calc(90% - 300px);
    width: calc(90% - 300px);
}

.ceritifications{
    margin-top: 2rem;
}

.certificates{
    background-color: var(--background-color-2);
    border: 2px solid var(--border-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 1rem;
    list-style: none;
    overflow: hidden;
}

.certificates img, .certificates  i{
    width: 20px;
    height: 20px;
    margin: 0.5rem 0.5rem 0 0 ;
    display: inline-block;
}

.certificates a{
    text-decoration: none;
    color: var(--foreground-color);
}

.certificates a:hover{
    color: var(--border-color);
}

@media screen and (max-width: 1220px){
    .page-wrapper{
        flex-direction: column;
    }

    .profile-image{
        margin: 0;
        align-self: center;
    }

    .profile-description{
        max-width: calc(100% - 1rem);
        width: auto;
    }

    .ceritifications{
        width: 100%;
    }

    .certificates{
        max-width: calc(100% - 2rem);
        width: calc(100% - 2rem);
    }

}

@media screen and (max-width: 372px){
    .profile-image{
        width: 250px;
        height: 250px;
    }
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    margin: calc(-1.5rem - 4px) 0 0 calc(-1rem - 2px);
}