#navigation{
    width: 80%;
    height: 10%;
    z-index: 10;
}

#navigation > button{
    width: fit-content!important;
    transform: translateY(-17px);
}

.selected-button{
    background-color: var(--foreground-hover);
    color: var(--background-color);
}

.animation-wrapper{
    width: 100%;
    height: calc(88vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#animation{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 222, 0.1);
    transform: translate(18px, 20px);
}

