#navigation{
    width: 80%;
    height: 10%;
    z-index: 10;
}

#navigation > button{
    width: fit-content!important;
    transform: translateY(-17px);
}

.selected-button{
    background-color: var(--foreground-hover);
    color: var(--background-color);
}

.animation-wrapper{
    width: 100%;
    height: calc(90vh - 100px);
    position: relative;
}

.animation{
    width: 100%;
    height: 105%;
    background-color: rgba(0, 0, 222, 0.1);
    transform: translate(18px, 20px);
}

.post-detail.playground-detail{
    padding: 0;
}

@media screen and (max-width: 1250px){
    #navigation
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-flow: nowrap column;
        height: fit-content;
        padding: 1rem 0;
    }

    #navigation > button{
        transform: translateY(0);
    }

    .post-detail.playground-detail{
        margin-top: calc(10rem + 100px);
    }
}