body{
    /* normalize body */
    margin: 0;
    padding: 0;
    font-family: 'Fixedsys Excelsior 3.01';
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding-left: 20%;
}

i{
    margin:0;
    padding:0;
}

.page_content{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
}

.page-wrapper{
    position: relative;
}

.column{
    flex-direction: column;
    width: calc(100% - 2rem);
}

.title-bar{
    background-color: var(--background-color-2);
    width: calc(80% - 1.5rem - 2px);
    height: 100px;
    position:absolute;
    top:0;
    left:20%;
    padding-left:10px;
    z-index:-1;
    border: 2px solid var(--border-color);
}

.top-bar{
    margin-bottom: 1.7rem;
}

.stats{
    width: calc(100% - 2rem);
}

.post-link{
    text-decoration: none;
    color: var(--foreground-color);
}

.post-link:hover{
    color: var(--border-color);
    cursor: pointer;
}
@media screen and (min-width: 1220px){
    .title-bar{
        transform: translateX(-2px);
    }
}

@media screen and (max-width: 1220px){
    body{
        padding-left: 0;
    }

    code{
        overflow: scroll;
        scrollbar-width: thin;
    }

    .title-bar{
        margin-top: 0;
        padding-left: 0.5rem;
        width: 100%;
        height: fit-content;
        left: 0;
    }
    
    .column{
        width: calc(100% - 2rem);
    }

    .stats{
        margin-bottom: 1rem!important;
    }
    
}