.text-image{
    width: 600px;
    height: 300px;
    margin: 1.5rem 1rem 1.5rem 0;
    padding: 1rem;
    border: 2px solid var(--border-color);
    position: relative;
}

.text-image img{
    width: 100%;
    height: 100%;
}

.text-image .thumbnail{
    position: absolute;
    top: calc(90% - 1rem);
    left: 0;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    height: 10%;
    background-color: var(--background-color);
    text-align: center;
}

.thumbnail p{
    margin: 1% auto;
}

@media screen and (max-width: 1220px){

    .text-image{
        width: 100%;
        height: auto;
    }

    .text-image .thumbnail{
        height: fit-content;
    }

}

@media screen and (max-width: 372px){
    .text-image{
        width: 100%;
        height: auto;
    }

    .text-image .thumbnail{
        height: fit-content;
    }    
}
