#login_form{
    position: relative;
    width: 33%;
    height: calc(88vh - 100px);
    margin: auto 33%;
}

#login_form label{
    display: block;
}

#login_form input{
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    display: inline-block;
    margin-left: 6px;
    background-color: var(--background-color);
    color: var(--foreground-color);
    caret-color: var(--border-color);
}

#login_form input:focus{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
}

#login_form button{
    width: 100%;
    height: calc(2rem + 3px);
    padding: 0.5rem;
    text-align: center;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: 'Fixedsys Excelsior 3.01';
    display: inline-block;
    cursor: pointer;
    margin-left: 8px;
}

#login_form button:hover{
    background-color: var(--foreground-hover);
}

@media only screen and (max-width: 768px){
    #login_form{
        width: 100%;
        margin: auto;
    }
}