.navbar-background{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color-2);
    border: 2px solid var(--border-color);
    height: calc(100vh - 4px);
    width: 20%;
    transition: width 0.5s ease-in;
    z-index: 1;
}

.navbar{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--border-color) var(--background-color-2);
}

.navbar > li{
    width: 100%;
}

.navbar > li > h2{
    padding-left: 1rem;
}

.navbar-htmx-link{
    padding-left: 2rem;
    color: var(--foreground-color);
}

.navbar-htmx-link:hover{
    color: var(--foreground-hover);
    cursor: pointer;
    background-color: var(--border-color);
}

#edit-nav{
    position: absolute;
    bottom: 4rem;
    left: 0;
}

#toggle-navbar{

    display: none;
}

@media screen and (max-width: 1220px){
    .navbar-background{
        width: calc(100% - 4px);
        height: 100vh;
        z-index: 9998;
    }

    .navbar{
        width: 100%;
    }

    .navbar-htmx-link{
        padding-left: 1rem;
    }

    .collapsed{
        display: none;
    }
    
    #toggle-navbar{
        display: block!important;
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        color: var(--foreground-color);
        background-color: var(--background-color-2);
        border: 2px solid var(--border-color);
        padding: 0.5rem;
        margin: 0.5rem;
        z-index: 9999;
    }

    #toggle-navbar:hover{
        cursor: pointer;
    }
    
}

