.navbar-background{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color-2);
    border: 2px solid var(--border-color);
    height: calc(100vh - 4px);
    width: 20%;
    transition: width 0.5s ease-in;
    z-index: 1;
}

.navbar{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--border-color) var(--background-color-2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar > li{
    width: 100%;
}

.navbar > li > h2{
    padding-left: 1rem;
    user-select: none;
    margin-bottom: -1rem;
}

.navbar > li > h2::after{
    content: '│';
    position: relative;
    margin-left: -1px;
    color: var(--foreground-color);
    display: block;
    line-height: 1;
    font-weight: 100;
    font-size: smaller;
}

.navbar-htmx-link{
    padding-left: 3.4rem;
    color: var(--foreground-color);
}

.navbar-htmx-link{
    position: relative;
    transition: color 0.3s ease;
}

.navbar-htmx-link:hover{
    color: var(--foreground-hover);
    background-color: var(--background-hover);
    cursor: pointer;
    animation: glitch 0.5s infinite;
}

h2 .navbar-htmx-link:hover::before,
h2 .navbar-htmx-link:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 1rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

p .navbar-htmx-link::before,
p .navbar-htmx-link::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 2rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.navbar-htmx-link:hover::before {
    color: #ff0000;
    animation: glitch-shadow 0.15s ease-in-out;
    transform: translateX(2px);
    opacity: 0.8;
}

.navbar-htmx-link:hover::after {
    color: #00ffff;
    transform: translateX(-2px);
    opacity: 0.8;
}

.navbar > li > p::before{
    content: '├ \1F4C4';
    color: var(--foreground-color);
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 25%;
    top: -5px;
    left: 1rem;
    opacity: 1 !important;
}

.navbar > li > p::after{
    content: '│';
    position: absolute;
    left: 1rem;
    top: 100%;
    height: 100%;
    color: var(--foreground-color);
    opacity: 1 !important;
}

.navbar > li > p:last-child::before{
    content: '└ \1F4C4';
}

.navbar > li > p:last-child::after{
    content: '';
}

#edit-nav::after{
    content: '';
    display: block;
    width: 100%;
    height: 25%;
}

@keyframes glitch {
    0%, 100% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
                     -0.05em -0.025em 0 rgba(0, 255, 255, 0.75),
                     0.025em 0.05em 0 rgba(255, 255, 0, 0.75);
    }
    15% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
                     -0.05em -0.025em 0 rgba(0, 255, 255, 0.75),
                     0.025em 0.05em 0 rgba(255, 255, 0, 0.75);
    }
    16% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
                     0.025em 0.025em 0 rgba(0, 255, 255, 0.75),
                     -0.05em -0.05em 0 rgba(255, 255, 0, 0.75);
    }
    49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
                     0.025em 0.025em 0 rgba(0, 255, 255, 0.75),
                     -0.05em -0.05em 0 rgba(255, 255, 0, 0.75);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
                     0.05em 0 0 rgba(0, 255, 255, 0.75),
                     0 -0.05em 0 rgba(255, 255, 0, 0.75);
    }
    99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
                     0.05em 0 0 rgba(0, 255, 255, 0.75),
                     0 -0.05em 0 rgba(255, 255, 0, 0.75);
    }
}

@keyframes glitch-shadow {
    0%, 31%, 61%, 100% {
        transform: translate(0);
    }
    10%, 30% {
        transform: translate(-5px, -2px);
    }
    20% {
        transform: translate(-10px, 2px);
    }
    35%, 60% {
        transform: translate(7px, -1px);
    }
    40% {
        transform: translate(-2px, 8px);
    }
    50% {
        transform: translate(-7px, 3px);
    }
}

#edit-nav{
    /* position: absolute;
    bottom: 4rem;
    left: 0; */
    align-self: flex-end;
}

#toggle-navbar{

    display: none;
}

@media screen and (max-width: 1220px){
    .navbar-background{
        width: calc(100% - 4px);
        height: 100vh;
        z-index: 9998;
    }

    .navbar-htmx-link{
        padding-left: 3.4rem;
    }

    .collapsed{
        display: none;
    }
    
    #toggle-navbar{
        display: block!important;
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        color: var(--foreground-color);
        background-color: var(--background-color-2);
        border: 2px solid var(--border-color);
        padding: 0.5rem;
        margin: 0.5rem;
        z-index: 9999;
    }

    #toggle-navbar:hover{
        cursor: pointer;
    }
    
}

