.post-row{
    cursor: pointer;
}

.post-row:hover{
    background-color: var(--background-color);
}

.post-admin-list{
    position: relative;
    max-width: calc(50% - 3rem);
    min-width: calc(50% - 3rem);
    min-height: 60vh;
    max-height: 60vh;
    border: 1px solid var(--border-color);
    padding: 0;
    margin: 0.5rem 0.1rem;
    font-size: smaller;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) var(--background-color);
}

.list-transitions{
    transition: all 0.5s ease-in;
    margin-left: 1.4rem;
}

.long{
    max-width: calc(100% - 3rem);
    min-width: calc(100% - 3rem);
}

.post-admin-list table{
    width: 100%;
}

.post-admin-list table thead{
    text-align: left;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
}

.post-admin-list table th:first-of-type{
    width: 30%;
}
.post-admin-list table th:nth-of-type(2){
    width: 20%;
}
.post-admin-list table th:nth-of-type(3){
    width: 20%;
}
.post-admin-list table th:nth-of-type(4){
    width: 15%;
}

.post-admin-list table th:last-of-type{
    width: 15%;
    padding: 0;
}

.post-admin-list table th:last-of-type a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    text-align: center;
}

.post-admin-list table th:last-of-type a:hover{
    cursor: pointer;
    background-color: var(--foreground-hover);
}

.post-admin-list table td:first-of-type{
    width: 30%;
}
.post-admin-list table td:nth-of-type(2){
    width: 30%;
}
.post-admin-list table td:nth-of-type(3){
    width: 20%;
}
.post-admin-list table td:nth-of-type(4){
    width: 15%;
}
.post-admin-list table td:last-of-type{
    width: 15%;
    padding: 0;
    text-align: center;
}

.post-admin-list table td a{
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    display: block;
    width: 90%;
    height: 100%;
    padding: 0.7rem 0;
}

.post-admin-list table td a:hover{
    cursor: pointer;
    background-color: var(--foreground-hover);
}

.post-admin-list table th, .post-admin-list table td{
    padding: 10px;
    margin: -1px;
}

.post-admin-list table{
    border: 1px solid var(--border-color);
}

.table-selected{
    background-color: var(--border-color)!important;
    position: sticky;
    top: 3rem;
    left: 0;
    width: 100%;
}


.post-preview{
    position: relative;
    max-width: calc(50% - 3rem);
    min-width: calc(50% - 3rem);
    min-height: calc(60vh - 2rem);
    max-height: calc(60vh - 2rem);
    border: 1px solid var(--border-color);
    padding: 1rem;
    margin: 0.5rem 0.1rem;
    font-size: smaller;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) var(--background-color);
    opacity: 1;
    transition: all 0.5s ease-in;
}


.hidden{
    opacity: 0;
}

.post-preview .top-bar .title-bar{
    height: 5rem;
    margin: 1rem;
    top: 0;
    left: 0;
    width: calc(100% - 3rem);
}

.preview-heading{
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    margin-top: 29vh;
    vertical-align: middle;
    text-align: center;
}

/* post edit */
.post-admin-list form{
    padding: 1rem;
}

.post-admin-list textarea{
    max-width: calc(90%);
    width: calc(90%);
    height: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    resize: none;
    position: inherit;
}

.post-admin-list textarea:focus{
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}


.post-admin-list input[type="text"]{
    width: calc(100% - 3rem);
    height: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    display: block;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.post-admin-list input[type="text"]:focus{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
}

.post-admin-list input[type="file"]{
    max-width: calc(80% - 3rem);
    height: 3.3rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    display: block;
    background-color: var(--background-color);
    color: var(--foreground-color);
    text-align: center;
    vertical-align: middle;
}

.post-admin-list input[type="file"]:focus{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
}

.post-admin-list input[type="file"]::-webkit-file-upload-button{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    color: var(--foreground-color);
    padding: 0.4rem;
    margin: 0.2rem;
    cursor: pointer;
    transform: translateY(-0.2rem);
}

.post-admin-list input[type="file"]::-webkit-file-upload-button:hover{
    background-color: var(--foreground-hover);
}

.post-admin-list select{
    display: block;
    width: calc(80% - 3rem);
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    color: var(--foreground-color);
    padding: 0.4rem;
    margin: 0.2rem;
    cursor: pointer;  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;    
    background-image:
        linear-gradient(45deg, transparent 50%, #FFF1F1F1 50%),
        linear-gradient(135deg, #FFF1F1F1 50%, transparent 50%),
        linear-gradient(to right, #00003de5, #00003de5);
    background-position:
        calc(100% - 19px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0px;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}


.post-admin-list select:focus{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
}

.post-admin-list input[type="checkbox"]{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--foreground-color);
    transform: translateY(0.2rem);
}

.maximize-button{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    color: var(--foreground-color);
    padding: 0.4rem;
    cursor: pointer;
    transform: translateY(-0.2rem);
}

.maximize-button:hover{
    background-color: var(--foreground-hover);
}

.maximize-button-minimized{
    position: absolute;
    top: 2rem;
    right: 0;
    min-width: 20%;
    max-width: 20%;
    transform: translateX(-50%);
    z-index: 2;
}

.maximized{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 55% !important;
    height: 92vh !important;
    margin: 2vh 4vw 2vh 0 !important;
    z-index: 1000 !important;
}

.buttons{
    margin-top: 2rem;
    display: flex;
}

.buttons .delete-button{
    align-self: flex-end;
}

@media screen and (max-width: 1220px){
    .post-admin-list{
        max-width: calc(100% - 1rem);
        min-width: calc(100% - 1rem);
        min-height: 60vh;
        overflow-x: scroll;
        text-align: center;
        margin: auto;
    }

    .post-preview{
        display: none;
    }

    .maximized{
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
    }

    .maximize-button-minimized{
        top: 0;
        right: 0;
        min-width: 100%;
        max-width: 100%;
        transform: translateX(0);
    }
}