/* this is used in home.html and about.html pages as well */
.post-detail{
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    border: var(--border-color) 2px solid;
    padding-bottom: 2rem;
    margin-top: calc(1rem + 100px);
    margin-bottom: 2rem;
    overflow: hidden;
}

.post-image{
    max-width: calc(99% - 2rem);
    min-width: calc(99% - 2rem);;
    width: calc(99% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    max-height: 300px;
    min-height: 100px;
    border: 2px solid var(--border-color);
}

.like-button{
    font-size: 20px;
    text-align: center;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--foreground-color);
    cursor: pointer;
}

.row{
    width: calc(100% - 2rem);
    margin-bottom: 2rem;
}

.center{
    text-align: center;
}

@media screen and (max-width: 1220px){
    .post-detail{
        margin-top: calc(3rem + 100px);
        width: 100%;
        max-width: 100%; 
    }

    .row{
        padding-left: 1rem;
        padding-right: 1rem;
        width: calc(100% - 2rem);
    }

    .certificates{
        width: 100%!important;
        margin: auto;
    }
    
}