.search-input{
    width: calc(80% - 3rem);
    height: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    display: inline-block;
    margin-left: 0;
    background-color: var(--background-color);
    color: var(--foreground-color);
    caret-color: var(--border-color);
}

.search-input:focus{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    outline: none;
    box-shadow: none;
}

.search-button{
    width: 20%;
    height: calc(2rem + 3.5px);
    padding: 0.5rem;
    text-align: center;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: 'Fixedsys Excelsior 3.01';
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0;
}

.search-button:hover{
    box-shadow: 0 0 100px 100px var(--foreground-hover) inset;
    color: var(--background-color);
    opacity: 1;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-nav{
    position: absolute;
    bottom: 1rem;
    left: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #111 inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 9999s ease-in-out 0s;
}
