{% extends 'blog/index.html' %}
{% load static i18n operations %}

{% block content %}

<div id="page_content" class="page_content">
    <!-- This is line for testing purposes. TEMPLATE: about.html -->    
    {% include 'blog/components/navbar.html' %}
    <div id="page-text">
        <div class="post-detail">
            <div class="top-bar">
                <div class="title-bar">
                    <h1>{% blocktranslate %}O mně{% endblocktranslate %}</h1>
                </div>
            </div>
            <div class="page-wrapper">
                <div class="profile-image">
                    <img src="{% static 'blog/images/anime-gloody.jpeg' %}" alt="Profile image">
                </div>
                <div class="profile-description" id="profile-description">
                    <h2>Ahoj, vítejte na mém blogu</h2>
                    <p>
                        Jsem {{ current_date.year|minus:1991 }}ti letý nadšenec do technologií, programování, deskových her a mnoha dalších věcí. 
                        Tento blog jsem vytvořil, abych sdílel své myšlenky, zkušenosti a projekty s ostatními. Rád řeším problémy, challenguji
                        se a hledám nové způsoby, jak zlepšit své dovednosti i jak se zabavit.
                    </p>
                    <p>
                        Mám vzdělání v oblasti elektroniky a informačních technologií a pracuji jako specialista v bezpečnostních
                        a přístupových systémů. Starám se jejich správu a údržbu. Řeším i integrace těchto systémů do grafických rozhraní 
                        a aplikací, které mám rovněž na starosti. V rámci své práce se také věnuji vývoji nástrojů pro zpracování dat, 
                        automatizaci procesů, správě serverů a databází.
                    </p>
                    <p>
                        Starám se o dům a chatu se zahradami, kde trávím čas pracemi na čerstvém vzduchu nebo se věnuji opravám a
                        přestavbám.
                    </p>
                    <p>
                        Jsem chovatelem a členem včelařského spolku. Na chatě mám momentálně 3 včelstva a v budoucnu plánuji rozšířit
                        svůj chov o další úly.
                    </p>
                    <p>
                        Rád cestuji a poznávám nové kultury a místa. Moc rád chodím po horách a trochu lezu (to tedy ale zatím spíš na stěne).
                    </p>
                </div>
                <!-- <script type="text/javascript">
                    var profileDescription = document.getElementById('profile-description');
                    typingEffect(profileDescription);

                </script>         -->
            </div>
            <div class="page-wrapper">
                <p>
                    Hodně volného času věnuji sebevzdělávání v oblasti IT. Dělám online kurzy, sleduji novinky, 
                    videa a čtu články. Hlavním zaměřením je pro mě webový vývoj a backendové technologie, ale zajímám se i o další oblasti.
                    Rád bych se naučil dost abych mohl vytvářet spolehlivé komplexní aplikace a systémy.
                </p>
            </div>
            <div class="page-wrapper">
                <div class="ceritifications" id="certificates">
                    <h2>Dokončené kurzy:</h2>
                    <ul class="certificates">
                        <li>
                            <img src="https://play-lh.googleusercontent.com/wKwW77zj6Gd-llTDakdjSDnWUPKSMDGXhnZSXel3A3qQSiM1cbDvuspBpQk15tiT9ik" alt="udemy logo">
                            <a href="https://www.udemy.com/certificate/UC-66fce0e3-74ed-4fc6-9706-f131d9574c6b/" target="_blank">The Complete HTMX Course: Zero to Pro with HTMX</a>
                        </li>  
                        <li>
                            <img src="https://play-lh.googleusercontent.com/wKwW77zj6Gd-llTDakdjSDnWUPKSMDGXhnZSXel3A3qQSiM1cbDvuspBpQk15tiT9ik" alt="udemy logo">
                            <a href="https://www.udemy.com/certificate/UC-81872ec0-b146-46e7-8e5d-995e62450006/" target="_blank">The Git and Github Bootcamp</a>
                        </li>                              
                        <li>
                            <img src="https://play-lh.googleusercontent.com/wKwW77zj6Gd-llTDakdjSDnWUPKSMDGXhnZSXel3A3qQSiM1cbDvuspBpQk15tiT9ik" alt="udemy logo">
                            <a href="https://www.udemy.com/certificate/UC-9c0b6190-f204-4e79-8d91-82edf929c161/" target="_blank">The Complete Python Bootcamp From Zero to Hero in Python</a>
                        </li>
                        <li>
                            <img src="https://play-lh.googleusercontent.com/wKwW77zj6Gd-llTDakdjSDnWUPKSMDGXhnZSXel3A3qQSiM1cbDvuspBpQk15tiT9ik" alt="udemy logo">
                            <a href="https://www.udemy.com/certificate/UC-208dd5bd-3063-4211-8d76-591665878102/" target="_blank">Distributed Tasks Demystified with Celery, SQS & Python</a>
                        </li>
                        <li>
                            <img src="https://play-lh.googleusercontent.com/wKwW77zj6Gd-llTDakdjSDnWUPKSMDGXhnZSXel3A3qQSiM1cbDvuspBpQk15tiT9ik" alt="udemy logo">
                            <a href="https://www.udemy.com/certificate/UC-8f2c0a8c-6ca1-4ef1-a52d-c1c0a4e9a69b/" target="_blank">The Complete SQL Bootcamp: Go from Zero to Hero</a>
                        </li>
                        <li>
                            <img src="https://play-lh.googleusercontent.com/wKwW77zj6Gd-llTDakdjSDnWUPKSMDGXhnZSXel3A3qQSiM1cbDvuspBpQk15tiT9ik" alt="udemy logo">
                            <a href="https://www.udemy.com/certificate/UC-c5051e65-86da-43aa-af72-b34478ab493d/" target="_blank">Python and Django Full Stack Web Developer Bootcamp</a>
                        </li>
                        <li>
                            <img src="https://play-lh.googleusercontent.com/wKwW77zj6Gd-llTDakdjSDnWUPKSMDGXhnZSXel3A3qQSiM1cbDvuspBpQk15tiT9ik" alt="udemy logo">
                            <a href="https://www.udemy.com/certificate/UC-208dd5bd-3063-4211-8d76-591665878102/" target="_blank">PyScript - Running Python in the Browser</a>
                        </li>
                        <li>
                            <i class="fab fa-free-code-camp"> </i>
                            <a id="icon-text" href="https://www.freecodecamp.org/certification/fccf361fdd3-fbd5-44a4-af7b-7dfb002e0e57/responsive-web-design" target="_blank">Responsive Webdesign on freeCodeCamp.com</a>
                        </li>                                
                        <li>
                            <img src="https://play-lh.googleusercontent.com/wKwW77zj6Gd-llTDakdjSDnWUPKSMDGXhnZSXel3A3qQSiM1cbDvuspBpQk15tiT9ik" alt="udemy logo">
                            <a href="https://www.udemy.com/certificate/UC-WKEBYOHA/" target="_blank">Windows Server 2012 System Administration: Get an IT Job!</a>
                        </li>                                
                                                    
                    </ul>
                </div>
                <div class="ceritifications" id="events">
                    <h2 id="events-heading">Zůčastnil jsem se:</h2>
                    <ul class="certificates">
                        <li>
                            <img src="{% static 'blog/images/adventofcodelogo.png' %}" alt="logo">
                            <a href="https://adventofcode.com/2022" target="_blank">Advent of code 2022</a>
                        </li>
                        <li>
                            <img src="{% static 'blog/images/europythonlogo.png' %}" alt="logo">
                            <a href="https://ep2023.europython.eu" target="_blank">Europython 2023</a>
                        </li>
                        <li>
                            <img src="{% static 'blog/images/adventofcodelogo.png' %}" alt="logo">
                            <a href="https://adventofcode.com/2023" target="_blank">Advent of code 2023</a>
                        </li>
                        <li>
                            <img src="{% static 'blog/images/adventofcodelogo.png' %}" alt="logo">
                            <a href="https://adventofcode.com/2024" target="_blank">Advent of code 2024</a>
                        </li>
                        <li>
                            <img src="{% static 'blog/images/adventofcodelogo.png' %}" alt="logo">
                            <a href="https://adventofcode.com/2025" target="_blank">Advent of code 2025</a>
                        </li>                                                 
                    </ul>
                </div>
            </div>                
        </div>
    </div>
</div>
{% endblock %}