{% load static %}

{% block page_content %}
    <div class="page_content" id="page_content">
        <!-- This is line for testing purposes. TEMPLATE: home.html -->
        <div id="page-text">
            <div class="post-detail">
                <div class="top-bar">
                    <div class="title-bar">
                        <h1>Home</h1>
                        {{ user.is_authenticated }}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}