{% extends 'blog/index.html' %}
{% load static i18n %}

{% block content %}

<div id="page_content" class="page_content">

    <!-- This is line for testing purposes. TEMPLATE: home.html -->    
    {% include 'blog/components/navbar.html' %}
    <div id="page-text">
        <div class="post-detail">
            <div class="top-bar">
                <div class="title-bar">
                    <h1>Gloody's Glitchground</h1>
                    <div id="navigation">
                        <button class="search-button selected-button">Conway's Game of Life</button>
                        <button class="search-button">Snowflake generator</button>
                    </div>
                </div>
            </div>
            <div class="page-wrapper animation-wrapper">
                <canvas id="animation">

                </canvas>
            </div>
        </div>
    </div>    

    

</div>
{% endblock %}