{% extends 'blog/index.html' %}
{% load static i18n %}

{% block content %}
<div id="page_content" class="page_content">
    {% include 'blog/components/navbar.html' %}

    <!-- This is line for testing purposes. TEMPLATE: home.html -->
    <div id="page-text">
        <div class="top-bar">
            <div class="title-bar">
                <h1>Posty</h1>
                <p></p>
            </div>
        </div>        
        <div class="post-detail" style="text-align: center;">
            <h1>Zatím zde není žádný post!</h1>
        </div>
    </div>
</div>

{% endblock %}