{% extends 'blog/index.html' %}
{% load static i18n %}


{% block content %}
<div id="page_content" class="page_content">
    {% include 'blog/components/navbar.html' %}
    <div
        id="post_detail"
        class="page_content"
        hx-get="{% url 'blog:post_footer' post.hash_field %}"
        hx-swap="outerHTML"
        hx-target="#post_footer"
        hx-trigger="load"
        >
        <!-- This is line for testing purposes. TEMPLATE: post_detail.html -->
        {% include 'blog/components/post_view.html' %}
        <div id="post_footer">

        </div>
    </div>
</div>  
{% endblock %}
