{% extends 'blog/index.html' %}
{% load static i18n %}

{% block content %}
    <div class="page_content" id="page_content">
        <!-- This is line for testing purposes. TEMPLATE: about.html -->

        <div id="page-text">
            <div class="post-detail">
                <div class="top-bar">
                    <div class="title-bar">
                        <h1>{% blocktranslate %}About Samba{% endblocktranslate %}</h1>
                    </div>
                </div>                
            </div>
        </div>
    </div>
{% endblock %}