{% extends 'blog/index.html' %}
{% load static i18n operations %}

{% block content %}
<div id="page_content" class="page_content">
    {% include 'blog/components/navbar.html' %}

    <!-- This is line for testing purposes. TEMPLATE: samba.html -->

    <div id="page-text">
        <div class="post-detail">
            <div class="top-bar">
                <div class="title-bar">
                    <h1>O Sambičce</h1>
                </div>
            </div> 
            <div class="page-wrapper">
                <div class="profile-image">
                    <img src="/static/blog/images/samba/profile.jpeg" alt="Samba's profile image">
                </div>
                <div class="profile-description" id="profile-description">
                    <h2>Seznamte se, tohle je Samba</h2>
                    <p>
                        Sambička je náš pejsek, fenka, kterou jsme si vzali do péče pomocí slovenské 
                        iniciativy <a target="_blank" href="https://www.pomocpsikom.sk">Pomoc Psíkom</a>,
                        která zajišťuje odchyt toulavých psů a v případě nemožnosti nalezení majitele
                        je dá k adopci. Chtěli jsme pejska, tak jsme se rozhodli že pomůžeme nějakému,
                        který je bez domova.
                    </p>
                    <p>
                        Jako každý pejsek miluje procházky, jídlo, pro které udělá cokoliv a ráda si
                        hraje a trénuje povely.
                    </p>                    
                    <p>
                        Narodila se 21.6.2024, takže momentálně jí bude 1 rok 7 měsíců. 
                        K nám přišla když jí byly jen tři měsíce. 
                    </p>
                    <p>
                        Bohužel ani u nás ještě nebyla celý rok a po náročném letním výletě, se projevila
                        po kousnutí klíštětem zákeřná vrozená autoimunitní choroba. Od té doby se snažíme
                        s vypětím veškerých sil Sambičce pomoci a nemoc zastavit, ale neexistuje spolehivý
                        způsob nebo lék který by ji vyléčil.
                    </p>
                </div>
            </div>
            <div class="page-wrapper">
                <div class="">
                    <h2>Imunitně zprostředkovaná hemolytická anémie (IMHA)</h2>
                    <p>
                        Sambička onemocněla touto relativně 
                        <a target="_blank" href="https://en.wikipedia.org/wiki/Autoimmune_hemolytic_anemia">vzácnou nemocí</a>,
                        kdy její imunitní systém chybně začal tvořit protilátky proti jejím vlastním
                        červeným krvinkám. Její tělo tak vlastně začalo bojovat samo proti sobě. 
                        Protilátky se pak vážou na červené krvinky a zabíjejí je, což vede k nedostatku
                        červených krvinek, které se starají o okysličení organismu. Predispozice pro
                        chorobu je vrozená. Nemoc pak může spustit například oslabení organismu nebo infekce.
                        Kdy k tomu dojde a jestli, doktoři nedovedou určit.
                    </p>
                    <p>
                        Mezi hlavní příznaky patří:
                        <ul>
                            <li>Únava</li>
                            <li>Slabost</li>
                            <li>Zrychlený tep</li>
                            <li>Bledé či žluté sliznice</li>
                        </ul>
                    </p>
                    <p>
                        V Samby případě nejspíš chorobu spustila infekce bakterií 
                        <a target="_blank" href="https://cs.wikipedia.org/wiki/Anaplazmóza">Anaplazmózy</a>, kterou přenáší
                        klíštata. V době infikování navíc hárala, takže její imunitní systém byl už tak
                        oslaben. Navíc lékaři její únavu a slabost spojovali spíše s délkou našeho výletu
                        v kombinaci s háráním, což společně s falešně negativními snap testy na anaplazmu
                        přispělo k tomu, že se nemoc a její příčinu se podařilo diagnostikovat až v době,
                        kdy Sambička byla v kritickém stavu.
                    </p>
                </div>
            </div>
            <div class="page-wrapper graphs-wrapper">
                <div class="content-section">
                    <h2>Průběh nemoci</h2>
                    <p>
                        Níže je zobrazen průběh Samby nemoci na základě jejích krevních testů. Grafy zobrazují hladiny 
                        jednotlivých ukazatelů.
                    </p>
                    <div class="graph-carousel" id="medicalGraphCarousel"></div>

                </div>
            </div>
            <div class="page-wrapper after-graphs">
                <div>
                    <h3>Důležité momenty:</h3>
                    <ul>
                        <li><strong>21.04.2025:</strong> Transfuze 330ml krve DIA 1+ přímo od dárce</li>
                        <li><strong>22.04.2025:</strong> Transfuze 300ml krve DIA 1- přímo od dárce</li>
                        <li><strong>25.05.2025:</strong> Transfuze 300ml krve DIA 1- erytrocytární masa z krevní banky</li>
                        <li><strong>27.05.2025:</strong> Aplikace 110 milionů kmenových buňěk</li>
                        <li><strong>16.06.2025:</strong> Aplikace 28,56 milionů kmenových buňěk</li>
                    </ul>
                </div>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    renderGraphs();
                });

                document.addEventListener('htmx:afterSwap', function() {
                    renderGraphs();
                });
            </script>
            
            <div class="page-wrapper">
                <div class="">
                    <h2>Léčba</h2>
                    <p>
                        Když se Samba rychle začala horšít, veterináři nasadili kortikoidy, kterými se
                        autoimunitní onemocnění normálně léčí, ale na léčbu nereagovala. Léčba prý mohla jít
                        v kontraindikaci s antibiotiky, která dostávala na infekci anaplazmózou, která stále
                        nevypadla z podezření - čekali jsme na výsledky z laboratoří v německu, kde dělají
                        přesné rozbory a hledají určité patogeny.
                    </p>
                    <p>
                        Během čekání na diagnózu spadl Samby hematokrit na 12%, bylo třeba první transfuze.
                        Sestřička na veterinární klinice byla tak hodná že poskytla svého psa jako dárce.
                        Naše Samba má negativní skupinu (DIA 1-), ale krev od dárce byla pozitivní. Vzhledem
                        ke stavu pejska a žádné odmítavé reakci se jsme se rozhodli ji transfuzi podat.
                        Bohužel, opět jsme měli smůlu a Sambě jsme druhý den naměřili hematokrit vyšší jen
                        asi o jedno procento.
                    </p>
                    <p>
                        
                    </p>
                </div>
            </div>
            
            <div class="page-wrapper">
                <div class="text-image">
                    <img src="/static/blog/images/samba/nemocnice.jpeg" alt="image">
                    <div class="thumbnail">
                        <p>Sambička v boxu v nemocnici</p>
                    </div>
                </div>
            </div>

            <div class="page-wrapper">
                <div class="">
                    <p>
                        Bylo jasné, že Samba bez další transfuze dlouho nevzdrží. Proto jsme začali shánět
                        vhodného dárce. Přes skupiny na facebooku, přes známé nebo kolegy z práce. Až nás
                        překvapilo, kolik se nám ozvalo dobrých lidí. Nakonec jsme se domluvili s naší známou,
                        která nám poskytovala invididuální lekce výcviku a Sambičku znala od štěněte. Díky
                        její ochotě přivést čtyři psy a strávit s námi bezmála celý den na veterině se sambu
                        podařilo zachránit. Nakonec se správná krev u jednoho z jejích pejsků našla a následná
                        transfuze nám našeho psa zachránila.
                    </p>
                    <p>
                        Neměli jsme ale vyhráno, protože ačkoliv se samby imunita uklidnila, stále netvořila
                        novou krev. Krev z poslední transfuze jí vydržela měsíc, potom musela na další. Tentokrát
                        jsme nechtěli už nikoho obtěžovat, protože jsme kvůli zhoršenému stavu vyrazili na veterinu
                        pozdě večer. Narychlo jsme domluvili možnost transfuze na jiné klinice než normálně navšťěvujeme,
                        protože mají <a target="_blank" href="https://www.vetcentrum.cz/blood">krevní banku</a>.
                        Ta vystřelila Samby hematokrit z necelých deseti procent na krásných 22.6 procenta. 
                    </p>
                </div>
            </div>
            <div class="page-wrapper">
                <div class="">
                    <h2>Komplikace...</h2>
                    <p>
                        Protože Samba byla tolik zesláblá, při sbíhání schodů upadala a bohužel spadla tak nešťastně, že si prokousla jazyk.
                        Ten jí začal silně krvácet a otékat, takže musela být okamžitě hospitalizována, aby se zabránilo udušení. 
                        Naštěstí nám opět pomohli u nás na veterině, kde ji přijali a ošetřili. Na druhý den jsme ji opět mohli vzít domů,
                        ale protože už předtím díky únavě nechtěla moc jíst, situaci to rozhodně nezlepšilo.
                </div>
            </div>
            <div class="page-wrapper">
                <div class="text-image">
                    <img src="/static/blog/images/samba/jazyk.jpeg" alt="image">
                    <div class="thumbnail">
                        <p>Prokousnutý jazyk po pádu ze schodů</p>
                    </div>
                </div>
                <div class="text-image">
                    <img src="/static/blog/images/samba/trychtyr.jpeg" alt="image">
                    <div class="thumbnail">
                        <p>Samba po hospitalizaci s jazykem</p>
                    </div>
                </div>                
            </div>
            <div class="page-wrapper">
                <div class="">
                    <h2>Kmenové buňky?</h2>
                    <p>
                        I po poslední transfuzi Samba netvořila novou krev nebo její imunitní systém stále
                        ničil i mladé červené krvinky. Mimo to začala mít vedlejší účinky z dlouhodobého
                        užívání vysokých dávek kortikoidů. Nebylo jasné jak dlouho ji ještě udržíme naživu.
                        Moje sestra zjistila, že existuje alternativní způsob léčby, za pomoci kmenových buněk.
                        Ač léčba není levná, aby jsme Sambu zachránili, rozhodli jsme se zkusit i tuto možnost.
                        Beztak už jsme do této chvíle za léčbu utratili bezmála 150 tisíc.
                    </p>
                    <p>
                        Jak taková léčba funguje? Kmenové buňky jsou buňky, které mají schopnost se diferencovat (přeměnit)
                        do různých typů buněk a mají regenerační a imunomodulační vlastnosti. V případě autoimunitních onemocnění,
                        jako je IMHA, mohou kmenové buňky pomoci regulovat imunitní systém a podporovat regeneraci poškozených tkání.
                        Aplikace kmenových buněk může pomoci snížit zánět, potlačit nežádoucí imunitní reakce a podpořit tvorbu
                        zdravých červených krvinek.
                    </p>
                    <p>
                        Okamžitě jsme začali komunikovat se společností <a target="_blank" href="https://avecell.cz">Avecell</a>,
                        která se zabývá léčbou zvířat pomocí kmenových buněk. Po konzultaci s nimi nám doporučili
                        aplikovat kmenové buňky z tukové tkáně, které jsou vhodné pro léčbu autoimunitních onemocnění.
                        Díky jejich ochotě - rozmrazili větší množství kmenových buněk, než je obvyklé, aby nám mohli
                        podat rychle velkou dávku, která by mohla Sambičce pomoci. Buňky byly k aplikaci připraveny 
                        během několika dní. Tu provedl pan doktor Musil z kliniky <a target="_blank" href="https://www.monadavet.cz"></a>
                        v Českém brodě, který má s léčbou touto terapií zkušenosti. Moc si vážíme i jeho rad ohledně 
                        přírodních doplňků stravy, které jistě přispěly ke zlepšení zdravotního stavu Samby.
                    </p>
                </div>
            </div>
            <div class="page-wrapper">
                <div class="">
                    <h2>Zvládli jsme to</h2>
                    <p>
                        Po první aplikaci kmenových buněk se stav Samby stále nelepšil, proto jsme se rozhodli
                        pro druhou aplikaci, která proběhla asi dva týdny po první. Po druhé aplikaci se začaly dít zázraky.
                        Sambička začala tvořit novou krev, její hematokrit se začal zvyšovat a její celkový stav se výrazně zlepšil.
                        Bylo úžasné vidět, jak se náš pejsek postupně zotavuje a získává zpět svou energii a radost ze života.
                    </p>
                </div>
            </div>
            <div class="page-wrapper">
                <div class="">
                    <h2>Následná péče</h2>
                    <p>
                        Po zaléčení ještě bylo třeba postarat se o následky, které nemoc a léčba zanechaly. Samba měla oslabenou imunitu,
                        takže jsme museli být opatrní, aby se nenakazila nějakou další infekcí. Také měla svalovou atrofii a slabost, 
                        takže jsme s ní začali cvičit a posilovat její svaly. Navíc jsme museli upravit její stravu, aby měla dostatek živin
                        pro regeneraci a podporu imunitního systému.
                        Mimo to se jí z vysokých dávek kortikoidů, které dostávala, na zádech vytvořila <a target="_blank" href="https://en.wikipedia.org/wiki/Calcinosis">kalcinóza</a>.
                        Naštěstí se nám ji podařilo zmenšit pomocí aplikace přípravků které nám doporučila naše veterinární lékařka.
                    </p>
                </div>
            </div>
            <div class="page-wrapper">
                <div class="text-image">
                    <img src="/static/blog/images/samba/strihani.jpeg" alt="image">
                    <div class="thumbnail">
                        <p>Aby jsme mohli léčit kalcinózu, museli jsme Sambu ostříhat.</p>
                    </div>
                </div>
                <div class="text-image">
                    <img src="/static/blog/images/samba/oblecek.jpeg" alt="image">
                    <div class="thumbnail">
                        <p>Obleček chrání holá záda před UV zářením</p>
                    </div>
                </div>                
            </div> 
            <div class="page-wrapper">
                <div class="">
                    <p>
                        Po půl roce od diagnózy a několika měsících léčby se nám podařilo Sambu stabilizovat
                        a její zdravotní stav se výrazně zlepšil. Její hematokrit pravidelně sledujeme a zatím
                         se drží na stabilní úrovni. Kalcinóza se nám podařila zmenšit, takže už jí nezpůsobuje
                         žádné problémy a srst na zádech ji pomalu dorostla. I když stále musí být opatrná a 
                         vyhýbat se stresu, vypadá to, že se nám podařilo zastavit progresi nemoci a Sambička 
                         může žít plnohodnotný život.
                    </p>
                </div>
            </div> 
            <div class="page-wrapper">
                <div class="text-image">
                    <img src="/static/blog/images/samba/hory.jpeg" alt="image">
                    <div class="thumbnail">
                        <p>Výlet na horách, ušli jsme 10km</p>
                    </div>
                </div>               
            </div>                                             
        </div>
    </div>
</div>
{% endblock %}