        .hill{
            background: radial-gradient(circle at 30% 30%, white, #ccc);
            position: absolute;
            bottom:-10vh;
            left: 0;
            width: 100%;
            height: 20%;
            z-index: 13;
            border-radius: 50%;
        }
        .snowman{
            position: absolute;
            bottom: 15vh;
            left: 20%;
            z-index: 16;
            width: 150px;
            height: 250px;
            /* background: magenta; */
            display: block;
        }

        .big-ball{
            width: 75%;
            height: 50%;
            z-index: 14;
            position: relative;            
        }
        .medium-ball{
            width: 60%;
            height: 40%;
            translate: 0 55%;
            z-index: 15;
            position: relative;

        }
        .head-ball{
            width: 50%;
            height: 30%;
            translate: 0 100%;
            z-index: 16;
            position: relative;
        }              
        .ball{
            background: radial-gradient(circle at 30% 30%, white, #ccc);
            border-radius: 50%;
            margin: 0 auto;
        }

        .cauldron{
            background: radial-gradient(circle at 30% 30%, #333, #000);
            width: 50%;
            height: 20%;
            position: absolute;
            bottom: 65%;
            left: 20%;
            z-index: 17;
            rotate: -10deg;
            translate: -2% 15%;
            border-radius: 5% 5% 0 0;
        }

        .hand{
            width: 20%;
            height: 20%;
            background: radial-gradient(circle at 30% 30%, white, #ccc);
            position: absolute;
            bottom: 50%;
            
        }

        .hand.left{
            left: 0;
            rotate: -130deg;
            transform-origin: top left;
            z-index:16;
            translate: -10px 120px;
            border-radius: 20% 50% 50% 20%;
        }

        .hand.right{
            right: 0;
            rotate: 130deg;
            transform-origin: top right;
            z-index: 14;
            translate: -10px 120px;
            border-radius: 50% 20% 20% 50%;
        }


        @media only screen and (max-width: 1220px) {
        .hand.right{
            translate: -30% 100px;
        }
        .hand.left{
            translate: 30%;
        }

        }  