/* bee animation */

.bee{
    z-index: 99;
}

.bee_head{
    background-color: burlywood;
    border: solid 1px black;
    broder-radius: 50%;
    width: 10px;
    height: 10px;
}

.eye{
    background-color: black;
    border: solid 1px SlateGray;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.eye-left{
    position: absolute;
    top: 2px;
    left: -1px;
}

.eye-right{
    position: absolute;
    top: 2px;
    left: 6px;
}

.bee_body{
    background-color: goldenrod;
    border: solid 1px black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.tail{
    background-color: goldenrod;
    border: solid 1px black;
    border-radius: 2% 2% 50% 50%;
    width: 10px;
    height: 20px;
}

.stripe{
    position: absolute;
    background-color: black;
    width: 9px;
    height: 2px;
    border: 1px solid black;

}

.stripe-bottom{
    top: 34px;
}

.stripe-top{
    top: 27px;
}

.wing{
    position: absolute;
    background-color: #add8e697;
    width: 30px;
    height: 10px;
    border: 1px solid #7aafc1b2;
    border-radius: 70% 70% 50% 50%;
}

.wing-right{
    top: 18px;
    left: -25px;
    transform: rotate(135deg);
}

.wing-left{
    top: 18px;
    left: 6px;
    transform: rotate(45deg);
}


.leg{
    position: absolute;
    background-color: black;
    width: 1px;
    height: 12px;
    border: 1px solid grey;
}

.leg-left{
    left: -6px;
}

.leg-right{
    left: 15px;

}

.leg-left-top{
    top: 0px;
    transform: rotate(-45deg);
}

.leg-left-middle{
    top: 10px;
    transform: rotate(-90deg);
}
.leg-left-bottom{
    top: 20px;
    transform: rotate(-135deg);
}

.leg-right-top{
    top: 0px;
    transform: rotate(45deg);
}

.leg-right-middle{
    top: 10px;
    transform: rotate(90deg);
}
.leg-right-bottom{
    top: 20px;
    transform: rotate(135deg);
}

#hive{  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 30;
}

#hive:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #add8e697);
    filter: drop-shadow(5px 5px 5px #add8e697);
    cursor: pointer;
}


#bk-split{
    display: grid;
    grid-auto-columns: 1fr 5fr;
}

#bk-split > div:first-of-type{
    font-size: medium;
    grid-column-start: 1;
    max-width: 20vw;

}

#bk-split > div:nth-of-type(2){
    grid-column-start: 2;
    margin-top:0;
}

#bk-split > div:nth-of-type(2) > h2{
    margin-top: 60px;
    margin-left: 0;
}

#bk-split > div:nth-of-type(2) > p{
    padding-left: 20px;
    font-size: medium;

}

.bee-wrapper{
    width: 100%;
    height: calc(90vh - 100px);
    text-align: center;
    overflow: hidden;
    background: radial-gradient(ellipse at center, #90EE90 0%, #6B8E23 50%, #2E5016 100%)
}

.bee-heading-top{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
    color: #4B5320;
    text-shadow: 2px 2px 4px #aaa;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bee-heading-top span {
    position: absolute;
    transform-origin: bottom center;
    display: inline-block;
}

.bee-heading-down{
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
    color: #4B5320;
    text-shadow: 2px 2px 4px #aaa;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bee-heading-down span {
    position: absolute;
    transform-origin: top center;
    display: inline-block;
}

@media screen and (max-width: 800px){
    #bk-split{
        display: block;
    }
    #bk-split > div:first-of-type{
        max-width: 100%;
        text-align: center;
    }
    #bk-split > div:nth-of-type(2){
        margin-top: 0;
    }
    #bk-split > div:nth-of-type(2) > h2{
        margin-top: 0;
    }
    #bk-split > div:nth-of-type(2) > p{
        padding-left: 0;
    }
    
}