    {% load static %}
    <div id="snow-buttons">
        <h4>Procedurální sněžení</h4>
        <div id="snow-new" class="snow-button" onclick="toggleNewSnowModal();">
            <span>+</span> Nová vločka
        </div>
        <div style="margin: 0 auto 20px auto; width: fit-content;">
            <label class="snow-slider-label" for="snow-randomSnowflakes">Generovat náhodné</label>
            <input type="checkbox" id="snow-randomSnowflakes">
        </div>
        <div>
            <label class="snow-slider-label" for="snow-spawnCount">Vločky za vteřinu</label>
            <input type="range" id="snow-spawnCount" min="1" max="200" value="100">
        </div>                
        <div>
            <label class="snow-slider-label" for="snow-gravity">Gravitace</label>
            <input type="range" id="snow-gravity" min="1" max="20" value="1" step="0.1">
        </div>
        <div>
            <label class="snow-slider-label" for="snow-wind">Vítr</label>
            <input type="range" id="snow-wind" min="-50" max="50" value="0">
        </div>
        <div>
            <label class="snow-slider-label" for="snow-rotationSpeed">Rychlost rotace</label>
            <input type="range" id="snow-rotationSpeed" min="-10" max="10" value="0" step="1">
        </div>        
        <div>
            <label class="snow-slider-label" for="snow-wind">Maximální velikost</label>
            <input type="range" id="snow-snowflakeSize" min="1" max="30" value="10">
        </div>
        <div class="snow-button" id="snow-resetSnowflakes" style="margin-top: 15px;" onclick="resetSnowflakes()">
            Resetovat
        </div>
    </div>

    <button id="snow-buttons-toggler" class="snow-buttons-toggler snow-button" onclick="toggleSnowButtons()">&#10006</button>

    <div class="snow-backdrop" onclick="toggleNewSnowModal();"></div>
    <div id="snow-newSnowflakeModal" class="snow-modal">
        <canvas id="snow-newSnowflakeCanvas"></canvas>
        <div class="snow-new-flake-controls">
            <div>
                <div class="snow-button" id="snow-addShape" style="margin:0;">Přidat</div>
                <div class="snow-button" onclick="toggleNewSnowModal()" style="margin: 5px 0 0 0;">Zavřít</div>
            </div>
            <div>
                <label class="snow-slider-label" for="snow-spanning">Počet větví</label>
                <input type="range" id="snow-spanning" min="1" max="20" value="10">
            </div>
            <div>
                <label class="snow-slider-label" for="snow-fuzzyness">Délka větví</label>
                <input type="range" id="snow-fuzzyness" min="1" max="10" value="3">
            </div>            
            <div>
                <label class="snow-slider-label" for="snow-spanAngle">Úhel větví</label>
                <input type="range" id="snow-spanAngle" min="1" max="360" value="320">
            </div>
            <div>
                <label class="snow-slider-label" for="snow-branches">Počet ramen</label>
                <input type="range" id="snow-branches" min="6" max="9" value="1">
            </div>
            <div>
                <label class="snow-slider-label" for="snow-previewSize">Přiblížení</label>
                <input type="range" id="snow-previewSize" min="1" max="150" value="120">
            </div>
        </div>
        
    </div>

    <div class="art">
        <div class="hill">
            <div class="snowman">
                <div class="cauldron"></div>
                <div class="head-ball ball"></div>
                <div class="medium-ball ball"></div>
                <div class="big-ball ball"></div>
                <div class="left hand"></div>
                <div class="right hand"></div>
            </div>
        </div>
        
    </div>

    <canvas id="snow-snowCanvas" class="animation"></canvas>

    <!-- Proceduralni generovani vlocek a snezeni. -->
    <script src="{% static 'snow/js/snow-animation.js' %}"></script>

